body {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* max-width: 1200px; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    border-radius: 15px;
    height: 300px;
    width: 30%;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 1px 19px 1px rgba(107, 107, 107, 0.85);
    box-shadow: 0px 1px 19px 1px rgba(107, 107, 107, 0.85);
    flex-basis: 33.3333;
}

.title {
    color: #34343A;
}

header {
    text-align: center;
    margin: 30px;
    font-size: 3rem;
}

.header {
    height: 45%;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.manager>.header {
    background-color: #FFCA3A
}

.engineer>.header {
    background-color: #6938F2;
}

.intern>.header {
    background-color: #FF595E;
}

.icon {
    background-color: #34343A;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    position: relative;
    top: -40px;
    left: 70px;
}

#spanner {
    position: relative;
    top: 15px;
    left: 7px;
}

#apple {
    position: relative;
    top: 15px;
    left: 22px;
}

#manager {
    position: relative;
    top: 15px;
    left: 6px;
}

.lower {
    position: relative;
    top: -35px;
}

h1, h2 {
    margin: 0;
    color: white;
    padding-top: 10px;
    padding: 0;
    margin-top: 5px;
}

p {
    font-size: 20px;
    margin: 2px;
    text-align: center;
    font-weight: bold;
}